<header class="header">
    <div class="header-left">
        <img class="logo" 
             src="https://api.builder.io/api/v1/image/assets/TEMP/8f928b3a2de14b9d3a5110b2e76de58b31f5c89d?width=188" 
             alt="HPE Logo">
        <h2 class="customer-text">Customer</h2>
    </div>

    <nav class="header-nav">
        <a href="/home_cliente.html" class="nav-link">Dashboard</a>
        <a href="/pocs_clientes.html" class="nav-link">My POCs</a>
        <a href="/solutions_catalog.html" class="nav-link">Solutions Catalog</a>
        <img class="avatar" src="/static/img/user.png" alt="User Avatar">
    </nav>
</header>
