<h2>Crear Usuario</h2>
<form method="POST">
    <label>ClientCompanyRepId:</label><br>
    <input type="number" name="ClientCompanyRepId"><br><br>

    <label>HPERepId:</label><br>
    <input type="number" name="HPERepId"><br><br>

    <label>HPEManagerId:</label><br>
    <input type="number" name="HPEManagerId"><br><br>

    <label>Mail:</label><br>
    <input type="email" name="Mail"><br><br>

    <label>Password:</label><br>
    <input type="password" name="Password"><br><br>

    <label>Role:</label><br>
    <input type="text" name="Role"><br><br>

    <label>Session Started:</label>
    <input type="checkbox" name="SessionStarted" value="1"><br><br>

    <button type="submit">Crear Usuario</button>
</form>
